@media (max-width: 767px) {

    .content {
        width: 100%;
    }

    .sideleft {
        float: none;
        width: 100%;
        border-right: 3px solid #5b5959;
        margin-top: 20px;
    }

    .main_content {
        max-width: 100%;
    }

    .sideright {
        float: none;
        width: 100%;
    }

    .news_main:first-child .tcontainer {
        max-width: 100%;
        float: none;
    }

    .news_main:first-child .icontainer {
        max-width: 100%;
        float: none;
    }
.news_main:nth-child(4),
.news_main:nth-child(5),
.news_main:nth-child(6) {
    max-width: 100%;
}
    .news_main:nth-child(9) .icontainer,
    .news_main:nth-child(8) .icontainer,
    .news_main:nth-child(7) .icontainer {
        display: block;
    }
    .news_main:nth-child(9) .icontainer  p,
    .news_main:nth-child(8) .icontainer p,
    .news_main:nth-child(7) .icontainer p {
        display: none;
    }
    .news_main:nth-child(9) ,
    .news_main:nth-child(8) ,
    .news_main:nth-child(7) {
        max-width: 100%;
    }
        
}
